EMQX_LOADED_PLUGINS={{ emqx_plugins }}
EMQX_ALLOW_ANONYMOUS={{ emqx_allow_anonymous | string | lower }}
EMQX_AUTH__USER__1__USERNAME={{ emqx_auth_user_name }}
EMQX_AUTH__USER__1__PASSWORD={{ emqx_auth_user_password }}
EMQX_DASHBOARD__DEFAULT__USER__LOGIN={{ emqx_dashboard_default_user_name }}
EMQX_DASHBOARD__DEFAULT__USER__PASSWORD={{ emqx_dashboard_default_user_password }}
